// ==========================================================================
// _variables.scss
// ==========================================================================

// ====================================
// colors
// ====================================

// Light blue
$mainColor: #98c5ea;

// Regular gray with blue undertones
$secondColor: #606a71;

// White
$thirdColor: #fff;

// Very light gray with blue undertones
$fourthColor: #f0f4f4;

// Regular gray with red undertones
$hoverColor: #b2b2b2;

// ====================================
// fonts
// ====================================

$titlesFont: 'Merriweather', serif;
$bodyFont: 'Open Sans', sans-serif;

$bold: 700;